body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../../images/fishing_background_1.png);
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.loginpad {
	padding-top: 20%;
}

/* ----------------------MENU VIEW ----------------------*/
.menu-button {
	height: 200px;

}

.margin-auto {
	margin: auto;
}

.menu-row {
	display: flex;
	justify-content: space-around;
}

/* ---------------------- SONAR VIEW --------------------- */
#surface-line {
	box-shadow: 0 0 15px rgba(81, 203, 238, 1);
	position: fixed;
	top: 50px;
	width: 100%;
	height: 5px;
	background-color: rgb(82, 140, 234);
}
#surface-line-max {
	position: fixed;

}

#radar-indicator {
	position: fixed;
	top: 36px;
	height: 30px;
	width: 30px;
	border-radius: 20px;
	background-color: rgb(200, 0, 0);
	box-shadow: 0 0 49px rgba(255, 0, 0, 1);
	z-index: 3;
}
#radar-indicator p {
	color: white;
	margin-top: -26px;
	margin-left: -9PX;
	font-size: 22px;
}

.measuring-line {
	position: fixed;
	top: 48px;
	width: 2px;
	background-color: white;
	z-index: 2;
}

.measuring-line-first {
	margin-left: 0px;
}
.measuring-line-second {
	top: 50px;
}

.measuring-cross-line {
	background-color: white;
	width: 60px;
	height: 2px;
}
.measuring-cross-line p {
	color: white;
	text-align: center;
}
#scrolling-floor-container {
	width: 100%;
	overflow: hidden;
	margin-bottom: 0px;
	margin-left: -50px ;
	z-index: 1;
}
#scrolling-floor {
	position: fixed;
	bottom: 0;
	overflow: hidden;
	height: 74px;
	width: 6096px;
	margin-bottom: 0px;
}
.photobanner-img {
	margin-left: -5px;
	z-index: 1;
}
/*keyframe animations*/
.first {
	-webkit-animation: bannermove 30s linear infinite;
	   -moz-animation: bannermove 30s linear infinite;
	    -ms-animation: bannermove 30s linear infinite;
	     -o-animation: bannermove 30s linear infinite;
	        animation: bannermove 30s linear infinite;
} 

@keyframes "bannermove" {  0% { margin-left: 0px;}  100% { margin-left: -2032px;} } 
@-moz-keyframes bannermove {  0% {    margin-left: 0px;  }  100% {    margin-left: -2032px;  }  }
@-webkit-keyframes "bannermove" {  0% {    margin-left: 0px;  }  100% {    margin-left: -2032px;  }  }
@-ms-keyframes "bannermove" {  0% {    margin-left: 0px;  }  100% {    margin-left: -2032px;  }  }
@-o-keyframes "bannermove" {  0% {    margin-left: 0px;  }  100% {    margin-left: -2032px;  }  }


/* ---------------------- DRONE VIEW --------------------- */
#unityPLayer {
	float: top;
	margin-left: auto;
	margin-right: auto;
}

/*------------------------------------------------------------- */