body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../../images/fishing_background_1.png);
  overflow: hidden;
}

a {
  color: #00B7FF;
}

/*MENU VIEW*/
.menu-button {
	height: 200px;

}

.margin-auto {
	margin: auto;
}

.menu-row {
	display: flex;
	justify-content: space-around;
}


#scrollingFloorContainer {
	width: 100%;
	overflow: hidden;
	margin-bottom: 500px;
	margin-left: -50px ;
	z-index: 2;
}

.scrollingFloor {
	position: fixed;
	bottom: 0;
	overflow: hidden;
	height: 74px;
	width: 3550px;
	margin-bottom: 0px;
}

.photobanner-img {
	margin-left: -5px;
}

/*keyframe animations*/
.first {
	-webkit-animation: bannermove 30s linear infinite;
	   -moz-animation: bannermove 30s linear infinite;
	    -ms-animation: bannermove 30s linear infinite;
	     -o-animation: bannermove 30s linear infinite;
	        animation: bannermove 30s linear infinite;
} 

@keyframes "bannermove" {  0% { margin-left: 0px;}  100% { margin-left: -2125px;} } 
@-moz-keyframes bannermove {  0% {    margin-left: 0px;  }  100% {    margin-left: -2125px;  }  }
@-webkit-keyframes "bannermove" {  0% {    margin-left: 0px;  }  100% {    margin-left: -2125px;  }  }
@-ms-keyframes "bannermove" {  0% {    margin-left: 0px;  }  100% {    margin-left: -2125px;  }  }
@-o-keyframes "bannermove" {  0% {    margin-left: 0px;  }  100% {    margin-left: -2125px;  }  }