<nav class="navbar black-background white-text" id="home-navbar">
  <div class="container-fluid">
    <div class="navbar-header" style="display: inline-block;">
      <a id="brand" class="navbar-brand orange-text" href="/#home">Nemofinder</a>
    </div>
    <div style="display: inline-block; float: right;">
      <ul class="nav navbar-nav navbar-right black-background white-text">
        <li><a href="/#home" class="orange-text"><span class="glyphicon glyphicon-user"></span> username {{user.name}}!</a>
        </li>
        <li><a href="/#login/" class="orange-text"><span class="glyphicon glyphicon-log-in"></span>&nbsp; Log in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class='buttons'>
    <a type="button" class="btn btn-default" href="/#localmaps/">Maps</a>
    <a type="button" class="btn btn-default" href="/#/">Home</a>
    <a type="button" class="btn btn-default" href="/#sonar/">Sonar</a>
</div>