<div class="panel panel-default text-center">
  <div class="panel-body">NemoFinder</div>
</div>
<div class="container">
  <div class="row text-center menu-row">
  	<a type="button" class="menu-button btn btn-default col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center" href="/#sonar/">Sonar only</a>
  	<a type="button" class="menu-button btn btn-default col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center" href="/#/">Drone</a>
  </div>
  <br>
  <div class="row text-center menu-row">
    <a type="button" class="menu-button btn btn-default col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center" href="/#/">Your maps</a>
    <a type="button" class="menu-button btn btn-default col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center" href="/#login/">Online maps</a>
  </div>
</div>
