<div class="panel panel-default text-center">
  <div class="panel-body">NemoFinder</div>
</div>
<div class="container">
  <div class="row text-center menu-row">
  	<a type="button" class="menu-button btn btn-default col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center" href="/#sonar/">My Maps</a>
    <a type="button" class="menu-button btn btn-default col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center" href="/#drone/">Gather Data</a>
    <a type="button" class="menu-button btn btn-default col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center" href="/#online/">Online Maps</a>
  </div>
</div>
