<nav class="navbar black-background white-text" id="home-navbar">
  <div class="container-fluid">
    <div class="navbar-header" style="display: inline-block;">
      <a id="brand" class="navbar-brand orange-text" href="/#home">Nemofinder</a>
    </div>
    <div style="display: inline-block; float: right;">
      <ul class="nav navbar-nav navbar-right black-background white-text">
        <li><a href="/#home" class="orange-text"><span class="glyphicon glyphicon-user"></span> username {{user.name}}!</a>
        </li>
        <li><a href="/#login/" class="orange-text"><span class="glyphicon glyphicon-log-in"></span>&nbsp; Log in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class='buttons'>
    <a type="button" class="btn btn-default" href="/#/drone">Drone</a>
    <a type="button" class="btn btn-default" href="/#/sonar">Sonar</a>
    <a type="button" id='togglebtn' class="btn btn-default" onclick='sonarON();'>Sonar ON</a>
    <a type="button" class="btn btn-default" onclick='clearFishes();'>Clear Local Data</a>
  </div>
    

    <div id="map"></div>
  <div class='buttons'>
    <a type="button" class="btn btn-default" onclick='saveMap();'>Save map as:</a><input type="text" id="mapnameinput">
  </div>
    <script>
    function initMap() {
      if(sonar){
        let btn = document.getElementById('togglebtn');
        btn.innerHTML='Sonar OFF';
        btn.onclick = function() { sonarOFF();};
      }
      if(true){
        var moneylake = {lat: 68.7624646, lng: 27.3234272}; //68.7624646, 27.3234272
        window.map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: moneylake
        });
      };
      var marker = new google.maps.Marker({
        position: moneylake,
        icon: {
          path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
          strokeColor: "red",
          scale: 3
         },
        map: map,
        title: "Boat"
      });
      fishestomap();
    };

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG9dbkrFR5E6zWt4Y86XJ_AjIEPoo1rTI&callback=initMap">
    </script>
