
<div class="container">
	<div class="row"></div>
	<div class="row">

		<div class="col-md-3"></div>
		<div class="col-md-6 loginpad">
			<div class="form-group">
        	<!--add ng-model-->
				<input class="form-control" type="text" id="username" ng-model="user.username" placeholder="Enter username">
			</div>
			<div class="form-group">
        	<!--add ng-model-->
				<input class="form-control" type="text" id="password" ng-model="user.password" placeholder="Enter password">
			</div>

			<input type="button" class="btn btn-primary" value="Login" ng-click="userLogin()"></input>
		</div>
		
	</div>

</div>