
<nav class="navbar blue-background white-text" id="home-navbar">
  <div class="container-fluid">
    <div class="navbar-header" style="display: inline-block;">
      <a id="brand" class="navbar-brand orange-text" href="#">Nemofinder</a>
    </div>
    <div style="display: inline-block; float: right;">
      <ul class="nav navbar-nav navbar-right blue-background white-text">
        <li><a href="#" class="orange-text"><span class="glyphicon glyphicon-user"></span> username {{user.name}}!</a>
        </li>
        <li><a href="/#login/" class="orange-text"><span class="glyphicon glyphicon-log-in"></span>&nbsp; Log in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class='buttons'>
    <a type="button" class="btn btn-default" onclick='clearMaps()' href="/#mymaps/">Clear Maps</a>
</div>
<div class="container menu-buttons-container">
  <div class="row text-center menu-row" id='mapsdiv'>
<template id="map-btn-template">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center padding-bottom">
      <a type="button" class="menu-button col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" href="/#openmap/" id="my-maps-button">
      My Maps</a>
    </div>
</template>
  </div>
</div>
