<nav class="navbar blue-background white-text" id="home-navbar">
  <div class="container-fluid">
    <div class="navbar-header" style="display: inline-block;">
      <a id="brand" class="navbar-brand orange-text" href="/#home">Nemofinder</a>
    </div>
    <div style="display: inline-block; float: right;">
      <ul class="nav navbar-nav navbar-right blue-background white-text">
        <li><a href="#" class="orange-text"><span class="glyphicon glyphicon-user"></span> Hello {{user.name}}!</a>
        </li>
        <li><a href="/#login/" class="orange-text"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container menu-buttons-container">
  <div class="row text-center menu-row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 text-center padding-bottom">
      <a type="button" class="menu-button btn btn-default col-xs-12 col-sm-12 col-md-6 col-lg-6" href="/#mySavedMaps/" id="saved-maps-button">My saved maps</a>
    </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center padding-bottom">  
        <a type="button" class="menu-button btn btn-default text-center col-xs-12 col-sm-12 col-md-12 col-lg-12" id="my-online-map-button" href="/#onlinemap/">Online map</a>
    </div>
  </div>

</div>

