<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Nemofinder</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li><p class="navbar-text"><span class="glyphicon glyphicon-user"></span> Hello {{user.name}}!</p></li>
      <li><a href="" ng-click="userLogOut()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <br>
  <div class="row">
  	<div class="col-sm-2">
		  <div class="form-group" >  	
		      <label>Radius</label>
			    <input class="form-control " type="text" ng-model="search.maxDistance" placeholder="1.0">
		  </div>
		  <div class="form-group">  
		      <label>Latitude</label>	
			    <input class="form-control" type="text" id="lat" ng-model="search.lat" placeholder="0.0">
		  </div>
		  <div class="form-group">
		      <label>Longitude</label>
			    <input class="form-control" type="text" id="long" ng-model="search.long" placeholder="0.0">
		  </div>
		  <div class="form-group">  
		      <label>Amount</label>
			    <input class="form-control" type="text" ng-model="search.amount" placeholder="1">
		  </div>
      <div class="form-group">
          <label>Search</label>
          <input type="button" class="btn btn-primary form-control" value="search" ng-click="searchFunc()"></input>
      </div>
    </div>
	   <div class="col-sm-10" id="map"> 
       </div>
    </div>

    <script>
    console.log("hurr")
    function initMap() {

      var location = { lat: 0.0, lng: 0.0 };
      //{lat: document.getElementById('lat'), lng: document.getElementById('long') };
      window.map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: location
      });

    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG9dbkrFR5E6zWt4Y86XJ_AjIEPoo1rTI&callback=initMap">
    </script>
	
</div>