<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#/">Nemofinder</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
    	 <li><p class="navbar-text"><span class="glyphicon glyphicon-user"></span> Hello {{user.name}}!</p></li>
    	<li><a href="" ng-click="userLogOut()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <br>
  <div class="row text-center menu-row">
    <a type="button" class="menu-button btn btn-default col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center" href="/#/">Your maps</a>
    <a type="button" class="menu-button btn btn-default col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center" href="/#onlinemap/">Onlinemap</a>
  </div>

</div>

