<nav class="navbar blue-background white-text" id="home-navbar">
  <div class="container-fluid">
    <div class="navbar-header" style="display: inline-block;">
      <a id="brand" class="navbar-brand orange-text" href="#">Nemofinder</a>
    </div>
    <div style="display: inline-block; float: right;">
      <ul class="nav navbar-nav navbar-right blue-background white-text">
        <li><a href="#/online" class="orange-text"><span class="glyphicon glyphicon-user"></span> Hello {{user.name}}!</a>
        </li>
        <li><a href="/#login/" class="orange-text"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--
<div class='buttons'>
    <a type="button" class="btn btn-default" href="/#/mymaps">Back to my maps</a>
  </div>-->
    

    <div id="map"></div>
    <script>
    function initMap() {
      if(true){
        var moneylake = {lat: 68.7624646, lng: 27.3234272}; //68.7624646, 27.3234272
        window.map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: moneylake
        });
      };
      var marker = new google.maps.Marker({
        position: moneylake,
        icon: {
          path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
          strokeColor: "red",
          scale: 3
         },
        map: map,
        title: "Boat"
      });
      showData();
    };

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG9dbkrFR5E6zWt4Y86XJ_AjIEPoo1rTI&callback=initMap">
    </script>
