
<div id="surface-line"></div>

<div id="measuring-line">
	<div class="measuring-cross-line"><p>0m</p></div>
	<div class="measuring-cross-line"><p>3m</p></div>
	<div class="measuring-cross-line"><p>6m</p></div>
	<div class="measuring-cross-line"><p>9m</p></div>
	<div class="measuring-cross-line"><p>12m</p></div>
	<div class="measuring-cross-line"><p>15m</p></div>
</div>

<div id="scrolling-floor-container">
    <div id="scrolling-floor">
    	<img class="first photobanner-img" src="../../images/sonar_radar_bottom_1.png" alt="" />
    	<img class="photobanner-img" src="../../images/sonar_radar_bottom_1.png" alt="" />
    	<img class="photobanner-img" src="../../images/sonar_radar_bottom_1.png" alt="" />
    </div>
</div>


