
<div id="surface-line">
	<div id="surface-line-max"></div>
</div>
<div id="radar-indicator">
	<p>YOU</p>
</div>
<img src="../../images/nemofinder_fish_indicator_4.png" alt="" />

<div class="measuring-line measuring-line-first">
	<div class="measuring-cross-line"><p>0m</p></div>
	<div class="measuring-cross-line"><p>3m</p></div>
	<div class="measuring-cross-line"><p>6m</p></div>
	<div class="measuring-cross-line"><p>9m</p></div>
	<div class="measuring-cross-line"><p>12m</p></div>
	<div class="measuring-cross-line"><p>15m</p></div>
</div>

<div class="measuring-line measuring-line-second">

</div>

<div id="scrolling-floor-container">
    <div id="scrolling-floor">
    	<img class="first photobanner-img" src="../../images/sonar_radar_bottom_1.png" alt="" />
    	<img class="photobanner-img" src="../../images/sonar_radar_bottom_1.png" alt="" />
    	<img class="photobanner-img" src="../../images/sonar_radar_bottom_1.png" alt="" />
    </div>
</div>


